https://github.com/e-kotov/mapineqpy

In [2]:
import mapineqpy as mi

available_data = mi.sources(level="0")
available_data.head()

,source_name,short_description,description
0,eheso_budgetclass,Acad. Budget,"Academic Budget by, year, NUTS 1, NUTS 2 and N..."
1,eheso_expendclass,Acad. Expenditure,"Academic Expenditure by, year, NUTS 1, NUTS 2 ..."
2,eheso_fundingclass,Acad. Funding,"Academic Funding by, year, NUTS 1, NUTS 2 and ..."
3,eheso_graduates,Acad. Graduates,"Academic Graduates by year, citizenship, level..."
4,MIGR_ACQ1CTZ,New citizenship,"Acquisition of citizenship by age group, sex a..."

In [6]:
available_data[available_data['source_name'].str.contains('meta', case=False, na=False)]

,source_name,short_description,description
332,meta_migration_in,META Migration In,META estimation of migration inflow at the cou...
333,meta_migration_out,META Migration Out,META estimation of migration outflow at the co...
600,meta_sci,META SCI,Social Connected Index (SCI) provided by Meta ...

# meta_sci

In [23]:
coverage = mi.source_coverage("meta_sci")
coverage

,nuts_level,year,source_name,short_description,description
0,0,2021,meta_sci,Settlement type,Satellite-based settlement types based on imagery
1,2,2021,meta_sci,Settlement type,Satellite-based settlement types based on imagery
2,3,2021,meta_sci,Settlement type,Satellite-based settlement types based on imagery

In [25]:
filters = mi.source_filters("meta_sci", year=2021, level="0")
filters

               field     field_label  label  value
0     friend_country  friend_country     DK     DK
1     friend_country  friend_country     SV     SV
2     friend_country  friend_country     SN     SN
3     friend_country  friend_country     SI     SI
4     friend_country  friend_country     CZ     CZ
...              ...             ...    ...    ...
2220      friend_loc      friend_loc  DEA15  DEA15
2221      friend_loc      friend_loc  NL224  NL224
2222      friend_loc      friend_loc  DE21K  DE21K
2223      friend_loc      friend_loc   IE06   IE06
2224      friend_loc      friend_loc  DE27A  DE27A

[2225 rows x 4 columns]

In [28]:
data = mi.data(
    x_source="meta_sci",
    year=2021,
    level="0",
    x_filters={"friend_loc": "SN", 
              "friend_country": "CZ", 
              }
)
data

   geo                 geo_name geo_source geo_year x_year     x
0   AL                Shqipëria       NUTS     2021   2021  None
1   AT               Österreich       NUTS     2021   2021  None
2   BE          Belgique/België       NUTS     2021   2021  None
3   BG                 Bulgaria       NUTS     2021   2021  None
4   CH  Schweiz/Suisse/Svizzera       NUTS     2021   2021  None
5   CY                   Kýpros       NUTS     2021   2021  None
6   CZ                    Česko       NUTS     2021   2021  None
7   DE              Deutschland       NUTS     2021   2021  None
8   DK                  Danmark       NUTS     2021   2021  None
9   EE                    Eesti       NUTS     2021   2021  None
10  EL                   Elláda       NUTS     2021   2021  None
11  ES                   España       NUTS     2021   2021  None
12  FI            Suomi/Finland       NUTS     2021   2021  None
13  FR                   France       NUTS     2021   2021  None
14  HR                 Hrvatska       NUTS     2021   2021  None
15  HU             Magyarország       NUTS     2021   2021  None
16  IE             Éire/Ireland       NUTS     2021   2021  None
17  IS                   Ísland       NUTS     2021   2021  None
18  IT                   Italia       NUTS     2021   2021  None
19  LI            Liechtenstein       NUTS     2021   2021  None
20  LT                  Lietuva       NUTS     2021   2021  None
21  LU               Luxembourg       NUTS     2021   2021  None
22  LV                  Latvija       NUTS     2021   2021  None
23  ME                Crna Gora       NUTS     2021   2021  None
24  MK       Severna Makedonija       NUTS     2021   2021  None
25  MT                    Malta       NUTS     2021   2021  None
26  NL                Nederland       NUTS     2021   2021  None
27  NO                    Norge       NUTS     2021   2021  None
28  PL                   Polska       NUTS     2021   2021  None
29  PT                 Portugal       NUTS     2021   2021  None
30  RO                  România       NUTS     2021   2021  None
31  RS                   Serbia       NUTS     2021   2021  None
32  SE                  Sverige       NUTS     2021   2021  None
33  SI                Slovenija       NUTS     2021   2021  None
34  SK                Slovensko       NUTS     2021   2021  None
35  TR                  Türkiye       NUTS     2021   2021  None
36  UK           United Kingdom       NUTS     2021   2021  None

# meta_migration_in

In [21]:
coverage = mi.source_coverage("meta_migration_in")
coverage

,nuts_level,year,source_name,short_description,description
0,0,2019,meta_migration_in,Settlement type,Satellite-based settlement types based on imagery
1,0,2020,meta_migration_in,Settlement type,Satellite-based settlement types based on imagery
2,0,2021,meta_migration_in,Settlement type,Satellite-based settlement types based on imagery
3,0,2022,meta_migration_in,Settlement type,Satellite-based settlement types based on imagery

In [11]:
filters = mi.source_filters("meta_migration_in", year=2020, level="0")
filters

                field       field_label     label     value
0              origin            origin        RU        RU
1              origin            origin        DK        DK
2              origin            origin        SV        SV
3              origin            origin        SN        SN
4              origin            origin        SI        SI
..                ...               ...       ...       ...
191             month             month  November  November
192             month             month  December  December
193             month             month       All       All
194  time_granularity  time_granularity    Annual    Annual
195  time_granularity  time_granularity   Monthly   Monthly

[196 rows x 4 columns]

In [19]:
data = mi.data(
    x_source="meta_migration_in",
    year=2020,
    level="0",
    x_filters={"month": "January", 
              "origin": "AT", 
              "time_granularity": "Monthly",
              # "geo_year": '2024'
              }
)
data

   geo                 geo_name geo_source geo_year x_year       x
0   AL                Shqip�ria       NUTS     2024   2020    16.0
1   AT               �sterreich       NUTS     2024   2020     NaN
2   BE          Belgique/Belgi�       NUTS     2024   2020    65.0
3   BG                 Bulgaria       NUTS     2024   2020    71.0
4   CH  Schweiz/Suisse/Svizzera       NUTS     2024   2020   191.0
5   CY                   K�pros       NUTS     2024   2020     0.0
6   CZ                    ?esko       NUTS     2024   2020    48.0
7   DE              Deutschland       NUTS     2024   2020  1203.0
8   DK                  Danmark       NUTS     2024   2020     0.0
9   EE                    Eesti       NUTS     2024   2020     3.0
10  EL                   Ell�da       NUTS     2024   2020     1.0
11  ES                   Espa�a       NUTS     2024   2020    62.0
12  FI            Suomi/Finland       NUTS     2024   2020     4.0
13  FR                   France       NUTS     2024   2020   168.0
14  HR                 Hrvatska       NUTS     2024   2020    48.0
15  HU             Magyarorsz�g       NUTS     2024   2020   393.0
16  IE             �ire/Ireland       NUTS     2024   2020    25.0
17  IS                   �sland       NUTS     2024   2020     0.0
18  IT                   Italia       NUTS     2024   2020   226.0
19  LI            Liechtenstein       NUTS     2024   2020     NaN
20  LT                  Lietuva       NUTS     2024   2020    16.0
21  LU               Luxembourg       NUTS     2024   2020    14.0
22  LV                  Latvija       NUTS     2024   2020     0.0
23  ME                Crna Gora       NUTS     2024   2020     0.0
24  MK       Severna Makedonija       NUTS     2024   2020    36.0
25  MT                    Malta       NUTS     2024   2020     3.0
26  NL                Nederland       NUTS     2024   2020    46.0
27  NO                    Norge       NUTS     2024   2020     3.0
28  PL                   Polska       NUTS     2024   2020   122.0
29  PT                 Portugal       NUTS     2024   2020    38.0
30  RO                  Rom�nia       NUTS     2024   2020   297.0
31  RS                   Serbia       NUTS     2024   2020   170.0
32  SE                  Sverige       NUTS     2024   2020    41.0
33  SI                Slovenija       NUTS     2024   2020    65.0
34  SK                Slovensko       NUTS     2024   2020   193.0
35  TR                  T�rkiye       NUTS     2024   2020   144.0